{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Login {% endblock title %}

{% block content %}

<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3">
            Sign IN
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            {% if messages %}
              {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
              {% endfor %}
            {% endif %}
            <p>
              Add your credentials
            </p>
          </div>
          <form method="POST">
            {% csrf_token %}
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                {{ form.email }}
              </div>
              {% if form.email.errors %}
                <div class="text-danger">
                  {{ form.email.errors|first }}
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                {{ form.password }}
              </div>
              {% if form.password.errors %}
                <div class="text-danger">
                  {{ form.password.errors|first }}
                </div>
              {% endif %}
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
